{% extends 'accounts/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
<link rel="stylesheet" href="{% static 'accounts/styleticket.css' %}">
{% endblock %}
{% block content %}
<h3> Créer une critique</h3>
    <form method="POST" class=form enctype="multipart/form-data">
        {% csrf_token %}
            <div class="containerticket">
                <label class="title "> Livre/Article</label>
                <div class="fieldWrapper">
                    {{ formticket.title.errors }}
                    <label> Titre</label>
                    {{ formticket.title }}
                </div>
                <div class="fieldWrapper">
                    {{ formticket.description.errors }}
                    <label> Description</label>
                    {{ formticket.description }}
                </div>
                <div class="fieldWrapper">
                    {{ formticket.image.errors }}
                    <label>Image</label>
                    {% if formticket.image %}
                        <div class ="image">
                            <img src="{{ticket.image.url}}" />
                        </div>
                    {% endif %}
                    {{ formticket.image }}
                </div>

            </div>

            <div class="containercritique">
                <label class="title "> Critique</label>
                <div class="fieldWrapper">
                    {{ formreview.headline.errors }}
                    <label>Titre</label>
                    {{ formreview.headline }}
                </div>

                <div class="fieldWrapper">
                    {{ formreview.rating.errors }}
                    <label>Note</label>
                    {{ formreview.rating }}
                </div>

                <div class="fieldWrapper">
                    {{ formreview.body.errors }}
                    <label>Commentaire</label>
                    {{ formreview.body }}
                </div>
                <input type="submit" class="btn right" value="Envoyer">
            </div>



    </form>
</div>
{% endblock %}